{% extends 'base-index.html.twig' %}
{% block body %}
    <section class="job-bg user-page">
        <div class="container  text-center">
            <div class="user-account-content">
                <div class="user-account job-user-account">
                    <h2>Create An Account</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
                    {{ form_errors(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
                    {{ form_widget(form.plainPassword.first, {'attr' : {'placeholder' : 'Password'}}) }}
                    {{ form_errors(form.plainPassword.first, {'attr' : {'placeholder' : 'Password'}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr' : {'placeholder' : 'Repeat Password'}}) }}
                    {{ form_errors(form.plainPassword.second, {'attr' : {'placeholder' : 'Repeat Password'}}) }}

                    <button type="submit" class="btn btn-outline-primary">{{ 'Register' | trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div><!-- user-login -->
        </div><!-- container -->
    </section><!-- signup-page -->
{% endblock %}

