{% extends 'base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <section class="job-bg ad-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}
                <h2 class="title">{{ blog.title }}</h2>
            </div>

            <div class="resume-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="career-objective section">
                            <div class="icons">
                                <i class="fa fa-black-tie" aria-hidden="true"></i>
                            </div>
                            <div class="blog-info">
                                <h3>{{ blog.title }}</h3>
                                <div class="blog-image text-center">
                                    {% if blog.imageName is defined %}
                                        <img src="{{ assetFinder.getBlogsPath(blog.imageName) }}" alt="Image" class="img-fluid">
                                    {% endif %}
                                </div>
                                <p>{{ blog.content | raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
