{% extends 'base-index.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block body %}
    <section class="job-bg page ad-profile-page static-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}
                <h2 class="title">{{ page.name }}</h2>
            </div><!-- breadcrumb-section -->

            <div class="resume-content">
                <div class="declaration section">
                    <div class="icons">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="declaration-info">
                        <h3>{{ page.name }}</h3>
                        {{ page.content|raw }}
                    </div>
                </div><!-- career-objective -->
            </div><!-- resume-content -->
        </div><!-- container -->
    </section><!-- ad-profile-page -->

{% endblock %}

