{% import 'admin/form/dialog.html.twig' as dialogs %}

<form method="post" action="{{ path('admin_feeds_bulk') }}" id="bulk-table-form">
    <input type="hidden" name="return_url" value="{{ path('admin_feeds_index') }}{{ query_string() }}"/>
    {{ form_widget(bulk_action_form._token) }}
    <input type="hidden" name="action" value=""/>

    <div class="table-responsive">
        <table class="table table-centered table-striped">
            <thead>
            <tr>
                <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input bulk-item-check" id="checkAll">
                        <label class="custom-control-label" for="checkAll">&nbsp;</label>
                    </div>
                </th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Feed Name', 'name') }}
                    {% if entities.isSorted('name') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}up{% endif %}"></span>
                    {% endif %}
                </th>
                <th></th>
                <th style="width: 15%"></th>
                <th>{{ 'Create Date'|trans }}</th>
                <th>
{#                    {{ knp_pagination_sortable(entities, 'Status', 'isPublished') }}#}
{#                    {% if entities.isSorted('isPublished') %}#}
{#                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}up{% endif %}"></span>#}
{#                    {% endif %}#}
                </th>
                <th style="width: 15%">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for feed in entities %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="bulk-item-{{ feed.id }}" type="checkbox" name="jobs[{{ feed.id }}]" class="custom-control-input bulk-item-check">
                            <label class="custom-control-label" for="bulk-item-{{ feed.id }}">&nbsp;</label>
                        </div>
                    </td>
                    <td class="table-user">
                        <a href="javascript:void(0);" class="text-body font-weight-semibold">{{ feed.name }}</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>{{ feed.created|date("d/m/Y") }} </td>
                    <td>

                    </td>
                    <td>
                        <a href="{{ path('admin_feeds_import', {'id': feed.id}) }}" class="action-icon">
                            <i class="mdi mdi-import"></i>
                        </a>

                        <a href="{{ path('admin_feeds_edit', {'id': feed.id, 'return_url': path('admin_feeds_index') ~ query_string()}) }}" class="action-icon">
                            <i class="mdi mdi-square-edit-outline"></i>
                        </a>
                        <a data-toggle="modal" href="#delete-{{ feed.id }}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                {{ dialogs.confirm('delete-' ~ feed.id, 'Confirmation', 'The selected item will be removed permanently. Are you sure?', '', path('admin_feeds_set', {id: feed.id, action: 'remove'})) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}
