<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active">
                <a href="{{ path('admin_index') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
            </li>
            <li class="treeview treeview active menu-open">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Job Board</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ app.request.get('_route') == 'admin_companies_index' ? 'active' }}"><a href="{{ path('admin_companies_index') }}"><i class="fa fa-bank"></i> <span>Companies</span></a></li>
                    <li class="{{ app.request.get('_route') == 'admin_profiles_index' ? 'active' }}"><a href="{{ path('admin_profiles_index') }}"><i class="fa fa-users"></i> <span>Profiles</span></a></li>
                    <li class="{{ app.request.get('_route') == 'admin_jobs_index' ? 'active' }}"><a href="{{ path('admin_jobs_index') }}"><i class="fa fa-briefcase"></i> <span>Jobs</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Settings</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="">Menu 1</a></li>
                    <li><a href="">Menu 2</a></li>
                    <li><a href="">Menu 3</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Content</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="">Menu 1</a></li>
                    <li><a href="">Menu 2</a></li>
                    <li><a href="">Menu 3</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-area-chart"></i>
                    <span>Stats</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="">Menu 1</a></li>
                    <li><a href="">Menu 2</a></li>
                    <li><a href="">Menu 3</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-credit-card"></i>
                    <span>Billing</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="">Menu 1</a></li>
                    <li><a href="">Menu 2</a></li>
                    <li><a href="">Menu 3</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>