<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{{ asset('admin/images/icon/logo.png') }}" alt="TenX Admin"/>
        </a>
    </div>

    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        Job Board
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li class="{{ app.request.get('_route') == 'admin_companies_index' ? 'active' }}"><a href="{{ path('admin_companies_index') }}"><i class="fa fa-bank"></i> <span>Companies</span></a></li>
                        <li class="{{ app.request.get('_route') == 'admin_profiles_index' ? 'active' }}"><a href="{{ path('admin_profiles_index') }}"><i class="fa fa-users"></i> <span>Profiles</span></a></li>
                        <li class="{{ app.request.get('_route') == 'admin_jobs_index' ? 'active' }}"><a href="{{ path('admin_jobs_index') }}"><i class="fa fa-briefcase"></i> <span>Jobs</span></a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_page_index') }}"><i class="fas fa-book"></i> Pages</a></li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->

