{% macro pageUrl(item) %}
    {% spaceless %}
        {% if item.url %}
            {{ path('main_url_show', {'url': item.url}) }}
        {% else %}
            {{ path('main_page_show', {'id': item.id}) }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro categoryUrl(item) %}
{% spaceless %}
    {% if item.url %}
        {{ path('url_show', {'url': item.url}) }}
    {% else %}
        {{ path('category_show', {'id': item.id}) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro productUrl(item) %}
{% spaceless %}
    {% if item.url %}
        {{ path('url_show', {'url': item.url}) }}
    {% else %}
        {{ path('product_show_id', {'id': item.id}) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro breadcrumb_category(category) %}
    {% if category.parent %}{{ _self.breadcrumb_category(category.parent) }}{% endif %}
    <li><a href="{{ _self.categoryUrl(category) }}">{{ category.name|trans }}</a></li>
{% endmacro %}

{% macro render_sub_categories(category, repository) %}
{% spaceless %}
    {% set content = '' %}
    {% for subCategory in repository.getChildren(category, true, 'position', 'asc') if subCategory.status %}
        {% set dropdown = _self.render_sub_categories(subCategory, repository) %}
        {% set itemContent %}
            <li {% if dropdown|length %}class="dropdown-submenu"{% endif %}>
                <a {% if repository.childCount(subCategory) %}tabindex="-1"{% endif %} href="{{ _self.categoryUrl(subCategory) }}">{{ subCategory.name|trans }}</a>
                {{ dropdown }}
            </li>
        {% endset %}
        {% set content = content ~ itemContent %}
    {% endfor %}
    {% if content|length %}
        <ul class="dropdown-menu">
            {{ content|raw }}
        </ul>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro category_menu(category, repository) %}
    {% set content = '' %}
    {% for subCategory in repository.getChildren(category, true, 'position', 'asc') if subCategory.status %}
        {% set itemContent %}
            <li class="list-group-item"><a href="{{ _self.categoryUrl(subCategory) }}">{{ subCategory.name|trans }}</a></li>
        {% endset %}
        {% set content = content ~ itemContent %}
    {% endfor %}
    {% if content|trim|length %}
        <ul class="list-group">
            {{ content|raw }}
        </ul>
    {% endif %}
{% endmacro %}

{% macro pagination_itemsperpage_render(paginator, itemsPerPageList) %}
    <span>{% trans with {'%count%': paginator.totalItemCount} %}%count% items found{% endtrans %}</span>
    {% if paginator.count > 0 %}
        <span style="margin:15px;">|</span>
        <span>{% trans %}Show{% endtrans %}</span>
        <ul class="btn-group pagination">
            <li>
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    {{ paginator.itemNumberPerPage }}
                    <span class="caret"></span>
                </a>
                <ul class="pull-right dropdown-menu" role="menu">
                    {% for itemsPerPage in itemsPerPageList|default([12, 24, 48, 96]) %}
                        <li {% if itemsPerPage == paginator.itemNumberPerPage %}class="disabled"{% endif %}><a href="{{ path(paginator.route, paginator.query|merge({('itemsPerPage'): itemsPerPage})) }}">{{ itemsPerPage }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <span style="margin-right: 15px;">{% trans %}per page{% endtrans %}</span>
    {% endif %}
{% endmacro %}

{% macro pagination_sortable_render(paginator, sortLinks) %}
    {% if paginator.count > 0 %}
        <span>{% trans %}Sort By{% endtrans %} </span>
        <ul class="btn-group pagination">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-sort-by-attributes{% if paginator.getParams.direction|default('') == 'desc' %}-alt{% endif %}"></span>
                    {% if paginator.isSorted('p.name') %}
                        {% trans %}Product Name{% endtrans %}
                    {% else %}
                        {% trans %}Price{% endtrans %}
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="pull-right dropdown-menu" role="menu">
                    {% for sort in sortLinks %}
                        {{ knp_pagination_sortable(paginator, sort.title, sort.id, {direction: sort.direction}) }}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}
{% endmacro %}