{% import 'admin/form/dialog.html.twig' as dialogs %}

<form method="post" action="{{ path('admin_profiles_bulk') }}" id="bulk-table-form">
    <input type="hidden" name="return_url" value="{{ path('admin_profiles_index') }}{{ query_string() }}"/>
    {{ form_widget(bulk_action_form._token) }}
    <input type="hidden" name="action" value=""/>

    <div class="table-responsive">
        <table class="table table-centered table-striped">
            <thead>
            <tr>
                <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input bulk-item-check" id="checkAll">
                        <label class="custom-control-label" for="checkAll">&nbsp;</label>
                    </div>
                </th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Name', 'firstName') }}
                    {% if entities.isSorted('firstName') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}{% endif %}"></span>
                    {% endif %}
                </th>
                <th>{{ 'Email'|trans }}</th>
                <th style="width: 15%">{{ 'Location'|trans }}</th>
                <th>{{ 'Create Date'|trans }}</th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Status', 'visibility') }}
                    {% if entities.isSorted('visibility') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}up{% endif %}"></span>
                    {% endif %}
                </th>
                <th style="width: 15%">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in entities %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="bulk-item-{{ profile.id }}" type="checkbox" name="profiles[{{ profile.id }}]" class="custom-control-input bulk-item-check">
                            <label class="custom-control-label" for="bulk-item-{{ profile.id }}">&nbsp;</label>
                        </div>
                    </td>
                    <td class="table-user">
                        <a href="{{ path('admin_profiles_edit', {id : profile.id}) }}" class="text-body font-weight-semibold">{{ profile.firstName }} {{ profile.lastName }}</a>
                    </td>
                    <td>{{ profile.user.email }}</td>
                    <td>{{ profile.country }}</td>
                    <td>{{ profile.created|date("d/m/Y") }}</td>
                    <td>
                        {% if profile.visibility %}
                            <span class="badge bg-soft-success text-success">{{ 'Published'|trans }}</span>
                        {% else %}
                            <span class="badge bg-soft-danger text-danger">{{ 'On Hold'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_profiles_edit', {'id': profile.id, 'return_url': path('admin_profiles_index') ~ query_string()}) }}" class="action-icon">
                            <i class="mdi mdi-square-edit-outline"></i>
                        </a>
                        <a data-toggle="modal" href="#delete-{{ profile.id }}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                {{ dialogs.confirm('delete-' ~ profile.id, 'Confirmation', 'The selected item will be removed permanently. Are you sure?', '', path('admin_profiles_set', {id: profile.id, action: 'remove'})) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}