<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap 4.0-->
        <link rel="stylesheet" href="{{ asset('admin/vendor/bootstrap/css/bootstrap.min.css') }}">
        <!-- Bootstrap 4.0-->
        <link rel="stylesheet" href="{{ asset('admin/vendor/bootstrap/css/bootstrap-extend.min.css') }}">
        <!-- theme style -->
        <link rel="stylesheet" href="{{ asset('admin/css/master_style.css') }}">
        <!-- Aries_admin skins. choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('admin/css/skins/_all-skins.css') }}">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        {% include "admin/_parts/header.html.twig" %}

        {% include "admin/_parts/aside.html.twig" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>

        {% include "admin/_parts/footer.html.twig" %}
    </div>
    <!-- ./wrapper -->


{% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('admin/vendor/jquery/dist/jquery.js') }}"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('admin/vendor/jquery-ui/jquery-ui.js') }}"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <!-- popper -->
    <script src="{{ asset('admin/vendor/popper/dist/popper.min.js') }}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Slimscroll -->
    <script src="{{ asset('admin/vendor/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('admin/vendor/fastclick/lib/fastclick.js') }}"></script>

    <!-- Aries_admin App -->
    <script src="{{ asset('admin/js/template.js') }}"></script>
{% endblock %}
</body>
</html>
