{% extends 'admin/base.html.twig' %}
{#{% import 'admin/_parts/helper.html.twig' as helper %}#}

{% block title %}{{ 'Blogs List'|trans }}{% endblock %}

{% import 'admin/form/dialog.html.twig' as dialogs %}

{% block content %}
    {{ breadcrumbs.add({'url' : 'admin_index', 'title' : 'Dashboard'|trans}) }}
    {{ breadcrumbs.add({'url' : '', 'title' : 'Blogs'|trans}) }}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        {% for breadcrumb in breadcrumbs.getBreadcrumbs() %}
                            <li class="breadcrumb-item">
                                <a href="{% if breadcrumb.url is not empty %}{{ path(breadcrumb.url) }}{% else %}javascript: void(0);{% endif %}">{{ breadcrumb.title }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <h4 class="page-title">{{ 'Blogs'|trans }} - {{ entities.getTotalItemCount }} {{ 'found'|trans }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            {{ form_start(filter_form) }}
                            {{ form_widget(filter_form.keyword, {attr : {placeholder : 'Search...'|trans}}) }}
                            {{ form_end(filter_form) }}
                        </div>

                        <div class="col-md-3">
                            <div class="btn-group">
                                <button id="bulk-action-button" type="button" class="btn btn-warning waves-effect waves-light mb-2 mr-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: none;">
                                    <i class="mdi mdi-settings"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="itemsBulkAction('activate');">{{ 'Activate'|trans }}</a>
                                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="itemsBulkAction('disable');">{{ 'Deactivate'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" data-toggle="modal" href="#items-bulk-delete">{{ 'Delete'|trans }}</a>
                                </div>
                            </div><!-- /btn-group -->
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right">
                                <a href="{{ path('admin_blog_create') }}" class="btn btn-success waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus-circle mr-1"></i> {{ 'Add Blog'|trans }}</a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    {# Main items table #}
                    {% include 'admin/blog/_table.html.twig' with entities %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    {{ dialogs.confirm('items-bulk-delete', 'Confirmation'|trans, 'The selected items will be removed permanently. Are you sure?'|trans, "itemsBulkAction('remove')", '') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function itemsBulkAction(action) {
            var form = jQuery("#bulk-table-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }

        /* Check all */
        $(".bulk-item-check").click(function(){
            if (this.checked) {
                $('#bulk-action-button').show();
            } else {
                $('#bulk-action-button').hide();
            }
        });
        $("#checkAll").click(function(){
            $('input:checkbox.bulk-item-check').not(this).prop('checked', this.checked);
        });
    </script>
{% endblock %}
