{% import 'admin/form/dialog.html.twig' as dialogs %}

<form method="post" action="{{ path('admin_page_bulk') }}" id="bulk-table-form">
    <input type="hidden" name="return_url" value="{{ path('admin_page_index') }}{{ query_string() }}"/>
    {{ form_widget(bulk_action_form._token) }}
    <input type="hidden" name="action" value=""/>

    <div class="table-responsive">
        <table class="table table-centered table-striped">
            <thead>
            <tr>
                <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input bulk-item-check" id="checkAll">
                        <label class="custom-control-label" for="checkAll">&nbsp;</label>
                    </div>
                </th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Page Name', 'name') }}
                    {% if entities.isSorted('name') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}up{% endif %}"></span>
                    {% endif %}
                </th>
                <th>{{ 'Url'|trans }}</th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Status', 'p.status') }}
                    {% if entities.isSorted('p.status') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}down{% else %}up{% endif %}"></span>
                    {% endif %}
                </th>
                <th style="width: 15%">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for page in entities %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="bulk-item-{{ page.id }}" type="checkbox" name="pages[{{ page.id }}]" class="custom-control-input bulk-item-check">
                            <label class="custom-control-label" for="bulk-item-{{ page.id }}">&nbsp;</label>
                        </div>
                    </td>
                    <td class="table-user">
                        <a href="{{ path('admin_page_edit', {id : page.id}) }}" class="text-body font-weight-semibold">{{ page.name }}</a>
                    </td>
                    <td>{{ page.url }}</td>
                    <td>
                        {% if page.status %}
                            <span class="badge bg-soft-success text-success">{{ 'Visible'|trans }}</span>
                        {% else %}
                            <span class="badge bg-soft-danger text-danger">{{ 'Hidden'|trans }}</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('admin_page_edit', {'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}" class="action-icon">
                            <i class="mdi mdi-square-edit-outline"></i>
                        </a>
                        {% if page.status == 1 %}
                            <a href="{{ path('admin_page_set', {'action': 'disable', 'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}" class="action-icon">
                                <i class="mdi mdi-eye-off"></i></a>
                        {% else %}
                            <a href="{{ path('admin_page_set', {'action': 'activate', 'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}" class="action-icon">
                                <i class="mdi mdi-eye"></i></a>
                        {% endif %}
                        <a data-toggle="modal" href="#delete-{{ page.id }}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                {{ dialogs.confirm('delete-' ~ page.id, 'Confirmation', 'The selected item will be removed permanently. Are you sure?', '', path('admin_page_set', {id: page.id, action: 'remove'})) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}
