{% extends 'base-dashboard.html.twig' %}
{% form_theme form _self %}

{% block title %}{% endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="update-photo">
            <img class="image" src="{{ image_uri }}" alt="">
        </div>
        <div class="file-upload">
            {{ form_widget(form.file) }}
            Change Avatar
        </div>
    {% endspaceless %}
{% endblock %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} class="file-input" />
    {% endspaceless %}
{% endblock %}


{% block body %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Dashboard</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            {% include '_parts/messages.html.twig' %}
                            <form action="{{ path('my_profile_settings') }}" class="dashboard-form">
                                <div class="dashboard-section upload-profile-photo">
                                    {{ form_widget(form.avatarImage) }}
                                </div>
                                <div class="dashboard-section basic-info-input">
                                    <h4><i data-feather="user-check"></i>Basic Info</h4>
                                    {{ form(form) }}
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button class="button">Save Change</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="dashboard-section basic-info-input">
                                <h4><i data-feather="lock"></i>Change Password</h4>
                                <form action="{{ path('my_account_password') }}" class="dashboard-form" method="POST">
                                    {{ form_row(userForm.email) }}
                                    {{ form_row(userForm.plainPassword) }}
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button class="button">Save Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="dashboard-sidebar">
                            <div class="user-info">
                                <div class="thumb">
                                    <img src="{{ vich_uploader_asset(profile, 'avatarImage') }}" class="img-fluid" alt="">
                                </div>
                                <div class="user-body">
                                    <h5>{{ profile.fullName }}</h5>
                                    <span>{{ profile.username }}</span>
                                </div>
                            </div>
                            <div class="profile-progress">
                                <div class="progress-item">
                                    <div class="progress-head">
                                        <p class="progress-on">Profile</p>
                                    </div>
                                    <div class="progress-body">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                                        </div>
                                        <p class="progress-to">70%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-menu">
                                <ul>
                                    <li><i class="fas fa-home"></i><a href="{{ path('my_account_index') }}">Dashboard</a></li>
                                    <li class="active"><i class="fas fa-user"></i><a href="dashboard-edit-profile.html">Edit Profile</a></li>
                                    <li><i class="fas fa-file-alt"></i><a href="resume.html">Resume</a></li>
                                    <li><i class="fas fa-edit"></i><a href="edit-resume.html">Edit Resume</a></li>
                                    <li><i class="fas fa-heart"></i><a href="dashboard-bookmark.html">Bookmarked</a></li>
                                    <li><i class="fas fa-check-square"></i><a href="dashboard-applied.html">Applied Job</a></li>
                                    <li><i class="fas fa-comment"></i><a href="dashboard-message.html">Message</a></li>
                                    <li><i class="fas fa-calculator"></i><a href="dashboard-pricing.html">Pricing Plans</a></li>
                                </ul>
                                <ul class="delete">
                                    <li><i class="fas fa-power-off"></i><a href="{{ path('security_logout') }}">Logout</a></li>
                                    <li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal" data-target="#modal-delete">Delete Profile</a></li>
                                </ul>

                                <!-- Modal -->
                                <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <h4><i data-feather="trash-2"></i>Delete Account</h4>
                                                <p>Are you sure! You want to delete your profile. This can't be undone!</p>

                                                <form action="#">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Enter password">
                                                    </div>
                                                    <div class="buttons">
                                                        <button class="delete-button">Save Update</button>
                                                        <button class="">Cancel</button>
                                                    </div>
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" checked="">
                                                        <label class="form-check-label">You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
