{% set route = app.request.attributes.get('_route') %}

<div class="left-side-menu">
    <div class="slimscroll-menu">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Navigation</li>
                {% for menu in menus %}
                    <li>
                        <a href="{% if menu.url is not empty %}{{ path(menu.url) }}{% else %}javascript: void(0);{% endif %}">
                            {% if menu.icon %}<i class="{{ menu.icon }}"></i>{% endif %}
                            <span> {{ menu.title }} </span>
                            {% if menu.url is empty %}<span class="menu-arrow"></span>{% endif %}
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            {% for submenu in menu.sub %}
                                <li {{ route == submenu.url ? 'class="active"' }}>
                                    <a href="{{ path(submenu.url) }}">{{ submenu.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>