{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ 'Edit Profile'|trans }}{% endblock %}

{% import 'admin/form/dialog.html.twig' as dialogs %}

{% block content %}
    {{ breadcrumbs.add({'url' : 'my_profile_index', 'title' : 'My Profile'|trans}) }}
    {{ breadcrumbs.add({'url' : '', 'title' : 'Edit Profile'|trans}) }}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        {% for breadcrumb in breadcrumbs.getBreadcrumbs() %}
                            <li class="breadcrumb-item">
                                <a href="{% if breadcrumb.url is not empty %}{{ path(breadcrumb.url) }}{% else %}javascript: void(0);{% endif %}">{{ breadcrumb.title }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <h4 class="page-title">{{ 'Edit Profile'|trans }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">{{ 'Profile Image'|trans }}</h5>
                {{ form_row(form.avatar) }}
            </div> <!-- end col-->
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card-box">
                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">{{ 'General'|trans }}</h5>
                {{ form(form) }}
            </div> <!-- end card-box -->
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% macro educationRow(form) %}
                <div class="card-box">
                    <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">{{ 'Education'|trans }}</h5>
                    {{ form_widget(form) }}
                    <button type="button" class="btn w-sm btn-danger waves-effect waves-light education-remove">Remove
                    </button>
                </div> <!-- end card-box -->
            {% endmacro %}

            {{ form_start(educationForm) }}
            <div id="education-container">
                {% for edu in educationForm.educations %}
                    {{ _self.educationRow(edu) }}
                {% endfor %}
            </div>
            {% set prototype = _self.educationRow(educationForm.educations.vars.prototype) %}
            <button type="button" id="add-education-row" class="btn w-sm btn-success waves-effect waves-light" data-prototype="{{ prototype|e }}">
                Add
            </button>
            {{ form_end(educationForm) }}
        </div>

        <div class="col-lg-6">
            <div class="card-box">
                <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">{{ 'Experience'|trans }}</h5>
                {{ form(experienceForm) }}
            </div> <!-- end card-box -->
        </div>
    </div>

    <!-- end row -->
    {{ form_end(form) }}

    <div class="row">
        <div class="col-12">
            <div class="text-center mb-3">
                <button type="button" class="btn w-sm btn-light waves-effect">Cancel</button>
                <button type="button" class="btn w-sm btn-success waves-effect waves-light">Save</button>
                <button type="button" class="btn w-sm btn-danger waves-effect waves-light">Delete</button>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $().ready(function () {
            $("#education-container").data("index", $("#education-container").children().length);

            $('#add-education-row').click(function () {
                var index = $("#education-container").data("index");
                var newEducation = $(this).data("prototype").replace(/__name__/g, index);
                $("#education-container").data("index", index + 1);
                $("#education-container").append(newEducation);

                $("#education-container .education-remove").off('click');
                $("#education-container .education-remove").click(function () {
                    $(this).closest('.card-box').remove()
                });
            });

            $("#education-container .education-remove").click(function () {
                $(this).closest('.card-box').remove()
            });
        });
    </script>
{% endblock %}