{% extends 'base-index.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <section class="job-bg page job-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans,
                    'frontend_companies_index' : 'Companies' | trans,
                } ) }}
                <!-- breadcrumb -->
            </div>


            <div class="job-details">
                <div class="section job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                {% if company.logoName %}
                                    <a href="{{ path('frontend_companies_details', {id: company.getId() }) }}">
                                        <img src="{{ assetFinder.logoPath(company.logoName) }}" class="img-fluid" alt="">
                                    </a>
                                {% else %}
                                    <img src="{{ asset('frontend/images/no-company.png') }}" class="img-fluid" alt="">
                                {% endif %}
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><span><a href="#" class="title">{{ company.name }}</a></span></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ company.country }}</a></li>
                                    <li><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</li>
                                    <li><i class="fa fa-hourglass-start" aria-hidden="true"></i>{{ company.created|date('d-m-Y') }}</li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                    </div>
                    <div class="social-media">
                        <div class="button">
                            <a href="#" class="btn btn-primary"><i class="fa fa-briefcase" aria-hidden="true"></i>Contact</a>
                            <a href="#" class="btn btn-primary bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i>Save</a>
                        </div>
                    </div>
                </div><!-- job-ad-item -->

                <div class="job-details-info">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="section job-description">
                                <div class="description-info">
                                    <h1>{{ 'Description' | trans }}</h1>
                                    {{ company.description|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="section job-short-info">
                                <h1>Short Info</h1>
                                <ul>
                                    <li><span class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></span>Posted: 1 day ago</li>
                                    <li><span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span> Job poster: <a href="#">Lance Ladaga</a></li>
                                    <li><span class="icon"><i class="fa fa-industry" aria-hidden="true"></i></span>Industry: <a href="#">Marketing and Advertising</a></li>
                                    <li><span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>Experience: <a href="#">Entry level</a></li>
                                    <li><span class="icon"><i class="fa fa-key" aria-hidden="true"></i></span>Job function: Advertising,Design, Art/Creative</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- row -->
                </div><!-- job-details-info -->
            </div><!-- job-details -->
        </div><!-- container -->
    </section><!-- job-details-page -->
{% endblock %}
