{% extends 'base-index.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <section class="job-bg page job-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans,
                    'frontend_companies_index' : 'Companies' | trans,
                } ) }}
                <h2 class="title">{{ company.name }}</h2>
            </div><!-- breadcrumb-section -->

            <div class="job-profile section">
                <div class="user-profile">
                    <div class="user-images">
                        {% if company.logoName %}
                            <a href="{{ path('frontend_companies_details', {id: company.getId() }) }}">
                                <img src="{{ assetFinder.logoPath(company.logoName) }}" class="img-fluid" alt="">
                            </a>
                        {% else %}
                            <img src="{{ asset('frontend/images/no-company.png') }}" class="img-fluid" alt="">
                        {% endif %}
                    </div>

                    <div class="user">
                        <h2>{{ company.name }}</h2>
                        <img class="rating-icon" src="{{ asset('frontend/images/glassdoor.svg') }}" alt="">
                        <div class="ratings">
                            <div class="empty-stars"></div>
                            <div class="full-stars" style="width:{{ (company.glassdoor.overallRating/5)*100 }}%"></div>
                        </div>
                        <span>{{ company.glassdoor.numberOfRatings }} reviews</span>
{#                        <h5><i class="fa fa-star" aria-hidden="true"></i></h5>#}
                    </div>

                    <div class="favorites-user">
                        <div class="my-ads">
                            <a href="{{ path('frontend_jobs_index', {'agency' : company.name}) }}">{{ company.jobs|length }}<small>{{ 'Jobs' | trans }}</small></a>
                        </div>
                        <div class="favorites">
                            <a href="{{ path('frontend_main_apply') }}">0<small>{{ 'Applied' | trans }}</small></a>
                        </div>
                    </div>
                </div><!-- user-profile -->

                <ul class="user-menu">
                    <li><a href="{{ path('frontend_jobs_index') }}">{{ 'Jobs' | trans }}</a></li>
                    <li><a href="{{ path('frontend_main_apply') }}">{{ 'Apply' | trans }}</a></li>
                </ul>
            </div><!-- ad-profile -->

            <div class="job-details-info">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="section job-description">
                            <div class="description-info">
                                <h2>{{ 'About' | trans }} {{ company.name }}</h2>
                                {{ company.description|raw }}
                            </div>
                        </div>

                        {% if company.youtube %}
                            <div class="section video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ company.youtube }}" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-sm-4">
                        <div class="section job-short-info">
                            <ul>
                                <li><span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> {{ company.locationString }}</li>
                                <li><span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="tel:{{ company.phone }}">{{ company.phone }}</a></li>
                                <li><span class="icon"><i class="fa fa-globe" aria-hidden="true"></i></span> <a href="{{ company.website }}">Website</a></li>
                                <li><span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span> <a href="emailto:{{ company.email }}">{{ company.email }}</a></li>
                                <li><span class="icon"><i class="icofont icofont-bank" aria-hidden="true"></i></span> {{ company.glassdoor.industryName }}</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- row -->
            </div><!-- job-details-info -->
        </div><!-- job-details -->
        </div><!-- container -->
    </section><!-- job-details-page -->
{% endblock %}
