<div class="job-ad-item">
    <div class="item-info">
        <div class="item-image-box">
            <div class="item-image">
                {% if company.logoName %}
                    <a href="{{ path('company_details', {id: company.getId() }) }}">
                        <img src="{{ assetFinder.logoPath(company.logoName) }}" alt="Image" class="img-fluid" />
                    </a>
                {% else %}
                    <img src="{{ asset('frontend/images/no-company.png') }}" class="img-fluid" alt="">
                {% endif %}
            </div><!-- item-image -->
        </div>

        <div class="ad-info">
            <span><a href="{{ path('company_details', {id: company.getId() }) }}" class="title">{{ company.name }}</a></span>
            <div class="ad-meta">
                <ul>
                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ company.getCountry() }} </a></li>
                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                    {% set count_jobs = jobRepository.getCompanyCount(company) %}
                    <li><a href="#"><i class="fa fa-file" aria-hidden="true"></i>{{ count_jobs }}</a></li>
                </ul>
            </div><!-- ad-meta -->
        </div><!-- ad-info -->
    </div><!-- item-info -->
</div><!-- job-ad-item -->