{% extends 'base-index.html.twig' %}
{% set title = 'Companies' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="job-bg page job-list-page">
        <div class="container">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Main' | trans
                } ) }}
                <!-- breadcrumb -->
                <h2 class="title">{{ title }}</h2>
            </div>

            <div class="banner-form banner-form-full job-list-form">
                {{ render(controller('App\\Controller\\Providers\\SearchProvider:searchBar', {'request' : app.request})) }}
            </div><!-- banner-form -->

            <div class="section latest-jobs-ads">
                <div class="section-title mb-5 pb-3">
                    <h4>{{ 'Found' | trans }} {{ companies.getTotalItemCount() }} {{ 'Agencies' | trans }}</h4>
                </div>

                {% if companies|length %}
                    {% for company in companies %}
                        {% include 'frontend/companies/_company.html.twig' %}
                    {% endfor %}
                    {{ knp_pagination_render(companies, '_parts/paginator.html.twig') }}
                {% endif %}
            </div>
        </div><!-- container -->
    </section><!-- main -->

{% endblock %}

