<div class="job-list">
    <div class="body">
        <div class="content">
            <h4><a href="{{ path('job_details', {'id' : job.id}) }}">{{ job.title }} </a></h4>
            <div class="info">
                <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{ job.country }}</a></span>
                <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>{{ job.contract }}</a></span>
            </div>
        </div>
        <div class="more">
            <div class="buttons">
                <a href="#" class="button">Apply Now</a>
                <a href="#" class="favourite"><i data-feather="heart"></i></a>
            </div>
            <p class="deadline">Posted: {{ job.getCreated()|date("F jS") }}</p>
        </div>
    </div>
</div>