<div class="job-ad-item">
    <div class="item-info">
        <div class="item-image-box">
            <div class="item-image">
                {% if job.company.logoName %}
                    <img src="{{ assetFinder.logoPath(job.company.logoName) }}" alt="{{ app.user.company.name }}" class="img-fluid">
                {% else %}
                    <img src="{{ asset('frontend/images/no-company.png') }}" alt="{{ app.user.company.name }}" class="img-fluid">
                {% endif %}
            </div><!-- item-image -->
        </div>

        <div class="ad-info">
            <span><a href="{{ path('frontend_jobs_details', {'id' : job.id}) }}" class="title">{{ job.title }}</a> </span>
            <div class="ad-meta">
                <ul>
                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ job.country }} </a></li>
                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>{{ job.categories|join(', ') }}</a></li>
                </ul>
            </div><!-- ad-meta -->
        </div><!-- ad-info -->
        <div class="action-icon">
            <a href="{{ path('frontend_jobs_details', {'id' : job.id}) }}" title="Preview"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a href="{{ path('my_company_job_edit', {'id': job.id}) }}" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="#" data-toggle="modal" data-target="#modal-delete-job" title="Delete"><i class="fa fa-window-close" aria-hidden="true"></i></a>
        </div>
    </div><!-- item-info -->
</div><!-- ad-item -->

{#{% if job.isPublished %}
    <td class="status active">Active</td>
{% else %}
    <td class="status pending">Pending</td>
{% endif %}#}
