{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section class="clearfix job-bg ad-profile-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans,
                    'frontend_companies_index' : 'Profile Details' | trans,
                } ) }}
                <h2 class="title">{{ 'My Account' | trans }}</h2>
            </div><!-- breadcrumb-section -->

            <div class="job-profile section">
                <div class="user-profile">
                    <div class="user-images">
                        {% if app.user.company.logoName %}
                            <img src="{{ assetFinder.logoPath(app.user.company.logoName) }}" alt="User Images" class="img-fluid">
                        {% else %}
                            <img src="{{ asset('frontend/images/no-company.png') }}" alt="User Images" class="img-fluid">
                        {% endif %}
                    </div>

                    <div class="user">
                        <h2>{{ app.user.company.name }}</h2>
                        <h5>{{ app.user.email }}</h5>
                    </div>

                    <div class="favorites-user">
                        <div class="my-ads">
                            <a href="applied-job.html">0<small>{{ 'Posted jobs' | trans }}</small></a>
                        </div>
                        <div class="favorites">
                            <a href="bookmark.html">0<small>{{ 'Applicants' | trans }}</small></a>
                        </div>
                    </div>
                </div><!-- user-profile -->

                {{ menuGenerator.companySideMenu()|raw }}
            </div><!-- ad-profile -->

            <div class="adpost-details post-resume">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        {{ form_start(form) }}

                        {% include '_parts/messages.html.twig' %}

                        <fieldset>
                            <div class="section express-yourself">
                                <h4>{{ 'Profile Details' | trans }}</h4>
                                {{ form_row(form.logo, { 'attr': {'data-default-file': app.user.company.logoName ? assetFinder.logoPath(app.user.company.logoName) : asset('frontend/images/no-company.png')} }) }}
                                {{ form(form) }}
                            </div><!-- postdetails -->

                            <div class="section company-information">
                                <h4>{{ 'Password' | trans }}</h4>
                                {{ form_row(userForm.plainPassword) }}
                            </div><!-- career-objective -->

                            <div class="buttons">
                                <button type="submit" class="btn">{{ 'Update Profile' | trans }}</button>
                            </div>
                        </fieldset>

                        {{ form_end(form) }}
                    </div>

                    <!-- quick-rules -->
                    <div class="col-lg-4">
                        <div class="section quick-rules">
                            <h4>Quick rules</h4>
                            <p class="lead">Posting an ad on <a href="#">jobs.com</a> is free! However, all ads must follow our rules:</p>

                            <ul>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                                <li>Do not put your email or phone numbers in the title or description.</li>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                            </ul>
                        </div>
                    </div><!-- quick-rules -->
                </div><!-- photos-ad -->
            </div>


        </div><!-- container -->
    </section><!-- ad-profile-page -->




    {#    <form action="{{ path('my_company_settings') }}" class="dashboard-form" method="POST" enctype="multipart/form-data">
            <div class="dashboard-section upload-profile-photo">
                {{ form_widget(form.logo) }}
            </div>

            <div class="dashboard-section basic-info-input">
                <h4><i data-feather="user-check"></i>Basic Info</h4>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button class="button">Save Change</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="dashboard-section basic-info-input">
            <h4><i data-feather="lock"></i>Change Password</h4>
            <form action="{{ path('my_company_password') }}" class="dashboard-form" method="POST">
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.plainPassword) }}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button class="button">Save Change</button>
                    </div>
                </div>
            </form>
        </div>#}




{% endblock %}
