{% extends 'dashboard/base-company.html.twig' %}

{% form_theme form _self %}

{% block title %}{% endblock %}

{% block profile_content %}

    {% include '_parts/messages.html.twig' %}

    {{ form_start(form) }}

    <div class="profile job-profile">
        <div class="user-pro-section">
            <!-- profile-details -->
            <div class="profile-details section">
                <h2>Profile Details</h2>
                {{ form(form) }}
            </div><!-- profile-details -->

            <!-- change-password -->
            <div class="change-password section">
                <h2>Change password</h2>
                <!-- form -->
                {{ form_row(userForm.plainPassword) }}

                <div class="buttons">
                    <button type="submit" class="btn">Save</button>
                </div>
            </div><!-- change-password -->
        </div><!-- user-pro-edit -->
    </div>

    {{ form_end(form) }}

    {#    <form action="{{ path('my_company_settings') }}" class="dashboard-form" method="POST" enctype="multipart/form-data">
            <div class="dashboard-section upload-profile-photo">
                {{ form_widget(form.logo) }}
            </div>

            <div class="dashboard-section basic-info-input">
                <h4><i data-feather="user-check"></i>Basic Info</h4>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button class="button">Save Change</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="dashboard-section basic-info-input">
            <h4><i data-feather="lock"></i>Change Password</h4>
            <form action="{{ path('my_company_password') }}" class="dashboard-form" method="POST">
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.plainPassword) }}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button class="button">Save Change</button>
                    </div>
                </div>
            </form>
        </div>#}




{% endblock %}
