<form action="{{ path(request.attributes.get('_route'), request.query.all) }}" class="clearfix">

    <!-- category-change -->
    <div class="dropdown category-dropdown">
        <a data-toggle="dropdown" href="#"><span class="change-text">{{ request.query.get('categories') ? request.query.get('categories') : "Job Category" }}</span> <i class="fa fa-angle-down"></i></a>
        <ul id="categorySearch" class="dropdown-menu category-change">
            {% for category in categories %}
                <li><a href="{{ path(request.attributes.get('_route'), request.query.all | merge({'categories':  category.name})) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!-- category-change -->

    <!-- language-dropdown -->
    <div class="dropdown category-dropdown language-dropdown">
        <a data-toggle="dropdown" href="#"><span class="change-text">{{ request.query.get('state') ? request.query.get('state') : "State" }}</span> <i class="fa fa-angle-down"></i></a>
        <ul id="locationSearch" class="dropdown-menu category-change language-change">
            {% for state in states %}
                <li><a href="{{ path(request.attributes.get('_route'), request.query.all | merge({'state': state.name})) }}">{{ state.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!-- language-dropdown -->

    <input type="hidden" name="categories" value="{{ request.query.get('categories') ?? request.query.get('categories') }}" />
    <input type="hidden" name="state" value="{{ request.query.get('state') ?? request.query.get('state') }}" />

    <input type="text" name="keyword" class="form-control" placeholder="Type your keyword" value="{{ request.query.get('keyword') ? request.query.get('keyword') : "" }}">
    <button type="submit" class="btn btn-primary" value="Search">Search</button>
</form>


