<form action="{{ path('frontend_jobs_index') }}" class=" clearfix">
    <!-- category-change -->
    <div class="dropdown category-dropdown selectdiv">
        <select name="discipline">
            <option value="">{{ 'Discipline' | trans }}</option>
            {% for discipline in disciplines %}
                <option value="{{ discipline.name }}">{{ discipline.name }}</option>
            {% endfor %}
        </select>
    </div><!-- category-change -->

    <div class="dropdown category-dropdown selectdiv">
        <select name="categories">
            <option value="">{{ 'Specialty' | trans }}</option>
            {% for specialty in categories %}
                <option value="{{ specialty.name }}">{{ specialty.name }}</option>
            {% endfor %}
        </select>
    </div><!-- category-change -->

    <!-- language-dropdown -->
    <div class="dropdown category-dropdown selectdiv">
        <select name="state">
            <option value="">{{ 'State' | trans }}</option>
            {% for state in states %}
                <option value="{{ state.name }}">{{ state.name }}</option>
            {% endfor %}
        </select>
    </div><!-- language-dropdown -->
    <input type="text" name="keyword" class="form-control" placeholder="Type your keyword" value="{{ request.query.get('keyword') ? request.query.get('keyword') : "" }}">
    <button type="submit" class="btn btn-primary" value="Search">{{ 'Search' | trans }}</button>

    {#    <input type="hidden" name="categories" value="{{ request.query.get('categories') ?? request.query.get('categories') }}" />#}
    {#    <input type="hidden" name="state" value="{{ request.query.get('state') ?? request.query.get('state') }}" />#}

</form>


