{% extends 'base-index.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Latest Article</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-wrapper">
                        {% for blog in blogs %}
                            <article class="blog-list">
                                <div class="info">
                                    <span class="date">{{ blog.created|date("j. F Y")  }}</span>
                                    <span class="comments"><i data-feather="eye"></i>0</span>
                                </div>
                                <div class="content">
                                    <h3><a href="{{ path('blog_details', {'slug': blog.slug}) }}">{{ blog.title }}</a></h3>
                                    <p>{{ blog.content|striptags("&nbsp;&gt;")|truncate(200, '...')|raw }}</p>
                                </div>
                                <div class="read-more">
                                    <a href="{{ path('blog_details', {'slug': blog.slug}) }}" class="button">Read More</a>
                                </div>
                            </article>
                        {% endfor %}

                        {{ knp_pagination_render(blogs, '_parts/paginator.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
