{% extends 'admin/base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    {{ breadcrumbs.display('admin/_parts/breadcrumbs.html.twig', {
                        'admin_index' : 'Dashboard' | trans,
                        'admin_companies_index' : 'Companies' | trans,
                        '' : pageTitle|trans,
                    } )}}
                </div>
                <h4 class="page-title">{{ pageTitle|trans }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">{{ 'General'|trans }}</h5>
                {{ form_row(form.logo, { 'attr': {'data-default-file': assetFinder.logoPath(company.logoName) ?? asset('frontend/images/no-company.png')} }) }}

                {{ form(form) }}
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
{% endblock %}
