{% import 'admin/form/dialog.html.twig' as dialogs %}

<form method="post" action="{{ path('admin_companies_bulk') }}" id="bulk-table-form">
    {{ form_widget(bulk_action_form._token) }}
    <input type="hidden" name="action" value=""/>
    <input type="hidden" name="return_url" value="{{ path('admin_companies_index') }}{{ query_string() }}"/>

    <div class="table-responsive">
        <table class="table table-centered table-striped">
            <thead>
            <tr>
                <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input bulk-item-check" id="checkAll">
                        <label class="custom-control-label" for="checkAll">&nbsp;</label>
                    </div>
                </th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Company Name', 'name') }}
                    {% if entities.isSorted('name') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}up{% else %}down{% endif %}"></span>
                    {% endif %}
                </th>
                <th>{{ 'Email'|trans }}</th>
                <th style="width: 15%">Location</th>
                <th>{{ 'Create Date'|trans }}</th>
                <th>
                    {{ knp_pagination_sortable(entities, 'Status', 'isVerified') }}
                    {% if entities.isSorted('isVerified') %}
                        <span class="fas fa-sort-alpha-{% if entities.getParams.direction == 'desc' %}up{% else %}down{% endif %}"></span>
                    {% endif %}
                </th>
                <th style="width: 15%">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for company in entities %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="bulk-item-{{ company.id }}" type="checkbox" name="companies[{{ company.id }}]" class="custom-control-input bulk-item-check">
                            <label class="custom-control-label" for="bulk-item-{{ company.id }}">&nbsp;</label>
                        </div>
                    </td>
                    <td class="table-user">
                        {# TODO: create image for admin display  #}
                        {#  <img src="assets/images/users/user-4.jpg" alt="table-user" class="mr-2 rounded-circle"> #}

                        <a href="javascript:void(0);" class="text-body font-weight-semibold">{{ company.name }}</a>
                    </td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.country }}</td>
                    <td>{{ company.created|date("y m d") }} </td>
                    <td>
                        {% if company.isVerified %}
                            <span class="badge bg-soft-success text-success">{{ 'Active'|trans }}</span>
                        {% else %}
                            <span class="badge bg-soft-danger text-danger">{{ 'Not Active'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_companies_edit', {'id': company.id, 'return_url': path('admin_companies_index') ~ query_string()}) }}" class="action-icon">
                            <i class="mdi mdi-square-edit-outline"></i></a>
                        {% if company.isVerified == 1 %}
                            <a href="{{ path('admin_companies_set', {'action': 'disable', 'id': company.id, 'return_url': path('admin_companies_index') ~ query_string()}) }}" class="action-icon">
                                <i class="mdi mdi-eye-off"></i></a>
                        {% else %}
                            <a href="{{ path('admin_companies_set', {'action': 'activate', 'id': company.id, 'return_url': path('admin_companies_index') ~ query_string()}) }}" class="action-icon">
                                <i class="mdi mdi-eye"></i></a>
                        {% endif %}
                        <a data-toggle="modal" href="#delete-{{ company.id }}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                {{ dialogs.confirm('delete-' ~ company.id, 'Confirmation', 'The selected item will be removed permanently. Are you sure?', '', path('admin_companies_set', {id: company.id, action: 'remove'})) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}


