{% extends 'admin/base.html.twig' %}
{% import 'admin/form/dialog.html.twig' as dialogs %}
{% import 'admin/form/parts.html.twig' as parts %}

{% block title %}{{ 'Companies List'|trans }}{% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    {{ breadcrumbs.display('admin/_parts/breadcrumbs.html.twig', {
                        'admin_index' : 'Dashboard' | trans,
                        '' : 'Companies' | trans
                    } )}}
                </div>
                <h4 class="page-title">{{ 'Companies'|trans }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-md-4">
            <div class="card-box bg-pattern">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-blue rounded">
                            <i class="fe-layers avatar-title font-22 text-white"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark my-1"><span data-plugin="counterup">{{ entities.getTotalItemCount }}</span></h3>
                            <p class="text-muted mb-0 text-truncate">{{ 'Total Companies' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-9">
                        {{ form_start(form, {'attr' : {'class' : 'form-inline'}}) }}
                        {{ form_widget(form.keyword) }}
                        {{ form_widget(form.status) }}
                        <button type="submit" class="btn btn-primary">{{ 'Filter' | trans }}</button>
                        {{ form_end(form) }}
                    </div>

                    <div class="col-lg-3">
                        <div class="text-lg-right mt-3 mt-lg-0">
                            <a href="{{ path('admin_companies_create') }}" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus-circle mr-1"></i> {{ 'Add Company'|trans }}</a>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div><!-- end col-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            {{ parts.itemsPerPage([200, 500, 1000]) }}

                            <div class="btn-group">
                                <button id="bulk-action-button" type="button" class="btn btn-warning waves-effect waves-light mb-2 mr-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: none;">
                                    <i class="mdi mdi-settings"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="itemsBulkAction('activate');">{{ 'Activate'|trans }}</a>
                                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="itemsBulkAction('disable');">{{ 'Deactivate'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" data-toggle="modal" href="#items-bulk-delete">{{ 'Delete'|trans }}</a>
                                </div>
                            </div>
                            <!-- /btn-group -->
                        </div>

                        <div class="col-md-6">
                            {{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}
                        </div><!-- end col-->
                    </div>

                    {% include 'admin/companies/_table.html.twig' with entities %}

                    {{ knp_pagination_render(entities, 'admin/_parts/paginator.html.twig') }}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    {{ dialogs.confirm('items-bulk-delete', 'Confirmation'|trans, 'The selected items will be removed permanently. Are you sure?'|trans, "itemsBulkAction('remove')", '') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function itemsBulkAction(action) {
            var form = jQuery("#bulk-table-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }

        /* Check all */
        $(".bulk-item-check").click(function(){
            if (this.checked) {
                $('#bulk-action-button').show();
            } else {
                $('#bulk-action-button').hide();
            }
        });
        $("#checkAll").click(function(){
            $('input:checkbox.bulk-item-check').not(this).prop('checked', this.checked);
        });
    </script>
{% endblock %}





