{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Companies List'|trans }}{% endblock %}

{% import 'admin/form/dialog.html.twig' as dialogs %}

{% block content %}
    {{ breadcrumbs.add({'url' : 'admin_index', 'title' : 'Dashboard'|trans}) }}
    {{ breadcrumbs.add({'url' : '', 'title' : 'Companies'|trans}) }}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        {% for breadcrumb in breadcrumbs.getBreadcrumbs() %}
                            <li class="breadcrumb-item"><a href="{% if breadcrumb.url is not empty %}{{ path(breadcrumb.url) }}{% else %}javascript: void(0);{% endif %}">{{ breadcrumb.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
                <h4 class="page-title">{{ 'Customers'|trans }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a href="{{path('admin_companies_create')}}" class="btn btn-danger waves-effect waves-light"><i class="mdi mdi-plus-circle mr-1"></i> {{ 'Add Company'|trans }}</a>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                                <button type="button" class="btn btn-light mb-2 mr-1">Import</button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div>
                    </div>

                    {# Main companies table #}
                    {% include 'admin/companies/_table.html.twig' with companies %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    {# {% import 'admin/_parts/helper.html.twig' as helper %}

     <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('activate');">Activate</a>
     <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('disable');">Deactivate</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" data-toggle="modal" href="#static-companies-delete-bulk">Delete</a>
     {% set pagesCount = companies.getTotalItemCount %}
     {{ pagesCount }} items - found

     #}{#            {{ dialogs.confirm('static-companies-delete-bulk', 'Confirmation', 'The selected Companies will be removed permanently. Are you sure?', "pageBulkAction('remove')", '') }}#}{#
     {{ form_start(filterForm, {'name': 'filter-companies-form'}) }}

     <div class="row mb-15">
         <div class="col-sm-6 col-md-3 ">
             {{ form_widget(filterForm.keyword) }}
         </div>
         <div class="col-sm-6 col-md-3 ">
             {{ form_widget(filterForm.country) }}
         </div>
     </div>
     {{ form_end(filterForm) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function pageBulkAction(action) {
            var form = jQuery("#companies-bulk-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }
    </script>
{% endblock %}





