{% extends 'base-index.html.twig' %}

{% block title %}{% endblock %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block body %}

    {% include "_parts/messages.html.twig" %}

    <section class="job-bg page job-list-page">
        <div class="container">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Engineer/Architects</li>
                </ol><!-- breadcrumb -->
                <h2 class="title">Software Engineer</h2>
            </div>

            <div class="banner-form banner-form-full job-list-form">
                {{ render(controller('App\\Controller\\Providers\\SearchProvider:searchBar', {'request' : app.request})) }}
            </div><!-- banner-form -->

            <div class="category-info">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        {{ render(controller('App\\Controller\\FilterController::sideFilter')) }}
                    </div><!-- accordion-->

                    <!-- recommended-ads -->
                    <div class="col-md-8 col-lg-9">
                        <div class="section job-list-item">
                            <div class="featured-top clearfix">

                                <h4>Found {{ jobs.getTotalItemCount }} jobs</h4>

                                <div class="dropdown pull-right">
                                    <div class="dropdown category-dropdown">
                                        <h5>Sort by:</h5>
                                        <a data-toggle="dropdown" href="#"><span class="change-text">Most Relevant</span><i class="fa fa-caret-square-o-down"></i></a>
                                        <ul class="dropdown-menu category-change">
                                            <li><a href="#">Most Relevant</a></li>
                                            <li><a href="#">Most Popular</a></li>
                                        </ul>
                                    </div><!-- category-change -->
                                </div>
                            </div><!-- featured-top -->

                            {% if jobs|length %}
                                {% for job in jobs %}
                                    {% include 'frontend/jobs/job.html.twig' %}
                                {% endfor %}
                            {% else %}
                                No jobs for this request
                            {% endif %}

                            {{ knp_pagination_render(jobs, '_parts/paginator.html.twig') }}
                        </div>
                    </div><!-- recommended-ads -->
                </div>
            </div>
        </div><!-- container -->
    </section><!-- main -->

    {{ render(controller('App\\Controller\\ApplicationController:index', { 'jobId': 0})) }}

{% endblock %}

{% block javascript %}
    <script>
        /* Dynamically set action of apply modal after apply button click */
        $('#apply-popup-id').on('show.bs.modal', function (e) {
            var url = $(e.relatedTarget).data('url');
            $(this).find('form').attr('action', url);
        });
    </script>
{% endblock %}

