{% extends 'base-index.html.twig' %}

{% set pageTitle = 'Search Jobs' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block body %}
    <section class="job-bg page job-list-page">
        <div class="container-fluid">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}
                <!-- breadcrumb -->
                <h2 class="title">{{ pageTitle }}</h2>
            </div>

            <div class="banner-form banner-form-full job-list-form">
                {{ render(controller('App\\Controller\\Providers\\SearchProvider:searchBar', {'request' : app.request})) }}
            </div><!-- banner-form -->

            <div class="category-info">
                <div class="row">
                    {% include "_parts/messages.html.twig" %}

                    <div class="col-lg-3 col-md-4">
                        {{ render(controller('App\\Controller\\Providers\\SearchProvider::filterBar', {'request' : app.request})) }}
                    </div><!-- accordion-->

                    <!-- recommended-ads -->
                    <div class="col-md-8 col-lg-9">
                        <div class="section job-list-item">
                            <div class="featured-top clearfix">
                                <h4>
                                    {{ 'Found' | trans }}: {{ jobs.getTotalItemCount }}
                                    {% if app.request.query.get('disciplines') %}
                                        {{ app.request.query.get('disciplines') }}
                                    {% endif %}
                                    {% if app.request.query.get('categories') %}
                                        {{ app.request.query.get('categories') }}
                                    {% endif %}
                                    {{ 'jobs' | trans }}

                                    {% if app.request.query.get('state') %}
                                        {{ 'in' | trans }}
                                        {{ app.request.query.get('state') }}
                                    {% endif %}
                                </h4>
                                {% if app.request.query.all() is not empty %}
                                    <div class="button pull-right">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-remove"></i> {{ 'Reset search' | trans }}</a>
                                    </div>
                                {% endif %}
                            </div><!-- featured-top -->

                            {% if jobs|length %}
                                {% for job in jobs %}
                                    {% include 'frontend/jobs/_job.html.twig' %}
                                {% endfor %}
                            {% else %}
                                No jobs for this request
                            {% endif %}

                            {{ knp_pagination_render(jobs, '_parts/paginator.html.twig') }}
                        </div>
                    </div><!-- recommended-ads -->
                </div>
            </div>
        </div><!-- container -->
    </section><!-- main -->

    {{ render(controller('App\\Controller\\ApplicationController:index', { 'jobId': 0})) }}

{% endblock %}

{% block javascript %}
    <script>
        /* Dynamically set action of apply modal after apply button click */
        $('#apply-popup-id').on('show.bs.modal', function (e) {
            var url = $(e.relatedTarget).data('url');
            $(this).find('form').attr('action', url);
        });
    </script>
{% endblock %}

