{% extends "base-index.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <section class="job-bg page job-details-page">
        <div class="container-fluid">

            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans,
                    'frontend_jobs_index' : 'Jobs' | trans,
                } ) }}

                <h2 class="title">{{ job.company.name }} {{ 'jobs' | trans }}</h2>
            </div><!-- breadcrumb -->

            <div class="job-details">
                {% include "_parts/messages.html.twig" %}

                <div class="section job-ad-item">
                    <div class="item-info">
                        <div class="ad-info">
                            <div class="row">
                                <div class="col-md-10">
                                    <span>
                                        <a href="#" class="title">{{ job.title }}</a>
                                    </span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ date( job.created|date ).diff( date() ).format('%a') }} {{ 'day ago' | trans }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="button">
                                        <a href="{{ path('application_job', {'id' : job.id}) }}" class="btn btn-primary btn-block" > {{ 'Apply Now' | trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div><!-- item-info -->

                </div><!-- job-ad-item -->

                <div class="job-details-info">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="section job-description">
                                <div class="job-description-section job-short-info">
                                    <h2>{{ 'Details' | trans }} </h2>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul>
                                                <li><span class="icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></span> {{ job.categories|join(', ') }}</li>
                                                <li><span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> {{ job.locationString }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul>
                                                <li><span class="icon"><i class="fa fa-user-md" aria-hidden="true"></i></span> <a href="#">{{ job.discipline }}</a></li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>

                                <div class="job-description-section description-info">
                                    <h2>{{ 'About Job' | trans }} </h2>

                                    {{ job.description|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 side-sections">
                            <div class="section company-info">

                                <div class="item-image-box">
                                    <div class="item-image">
                                        {% if job.company.logoName %}
                                            <a href="{{ path('frontend_companies_details', {id: job.company.getId() }) }}">
                                                <img src="{{ assetFinder.logoPath(job.company.logoName) }}" class="img-fluid" alt="">
                                            </a>
                                        {% else %}
                                            <img src="{{ asset('images/no-company.png') }}" class="img-fluid" alt="">
                                        {% endif %}
                                    </div><!-- item-image -->
                                </div>

                                <ul>
                                    <li><i class="fa fa-industry"></i> <a href="#">{{ job.company.name }}</a></li>
                                    <li><i class="fa fa-map-marker"></i> {{ job.company.address }}</li>
                                    <li><i class="fa fa-phone"></i> {{ job.company.phone }}</li>
                                    <li><i class="fa fa-globe"></i> <a href="{{ job.company.website }}">{{ 'Website' | trans }}</a></li>
                                </ul>

                                <a href="{{ path('frontend_companies_details', {'id' : job.company.id}) }}" class="btn btn-success btn-block">{{ 'About company' | trans }}</a>
                            </div>

                        </div>
                    </div><!-- row -->
                </div><!-- job-details-info -->
            </div><!-- job-details -->
        </div><!-- container -->
    </section><!-- job-details-page -->

    {{ render(controller(
        'App\\Controller\\ApplicationController:index',
        { 'jobId': job.id }
    )) }}

{% endblock %}

{% block javascript %}
    <script>
        /* Dynamically set action of apply modal after apply button click */
        $('#apply-popup-id').on('show.bs.modal', function (e) {
            var url = $(e.relatedTarget).data('url');
            $(this).find('form').attr('action', url);
        });
    </script>
{% endblock %}
