<div class="job-ad-item">
    <div class="item-info">
        <div class="item-image-box">
            <div class="item-image">
                {% if job.company.logoName %}
                    <a href="{{ path('job_details', {'id' : job.id}) }}">
                        <img src="{{ assetFinder.logoPath(job.company.logoName) }}" class="img-fluid" alt="">
                    </a>
                {% else %}
                    <img src="{{ asset('frontend/images/no-company.png') }}" class="img-fluid" alt="">
                {% endif %}
            </div><!-- item-image -->
        </div>

        <div class="ad-info">
            <span><a href="{{ path('job_details', {'id' : job.id}) }}" class="title">{{ job.title|capitalize|truncate(60)}}</a></span>
            <div class="ad-meta">
                <ul>
                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ job.getCountry() }} </a></li>
                    <li><a href="#"><i class="fa fa-braille" aria-hidden="true"></i>{{ job.categories|join(', ') }} </a></li>
                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                    <li><a href="{{ path('company_details', {id: job.company.getId() }) }}">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            {{ job.company }}
                        </a>
                    </li>
                </ul>
            </div><!-- ad-meta -->
        </div><!-- ad-info -->
    </div><!-- item-info -->
</div><!-- job-ad-item -->


{#{{ job.getCreated()|date("F jS") }}#}