<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/x-icon">

    {% block stylesheets %}
        <!-- CSS Files -->
        <link rel="stylesheet" href="{{ asset('css/animate-3.7.0.css') }}s">
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/flat-icon/flaticon.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-4.1.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl-carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
{% include "_parts/header.html.twig" %}
<!-- Header Area End -->

{% block body %}{% endblock %}

<!-- Footer Area Starts -->
{% include "_parts/footer.html.twig" %}
<!-- Footer Area End -->

{% block javascripts %}
    <!-- Javascript -->
    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ asset('js/vendor/wow.min.js') }}"></script>
    <script src="{{ asset('js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('js/vendor/ion.rangeSlider.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>