<div class="single-job mb-4 d-lg-flex justify-content-between {% if job.getIsFeatured() %}highlighted{% endif %}">
    <div class="job-text">
        <h4><a href="{{ path('job_details', {'id' : job.id}) }}">{{ job.name }}</a></h4>
        <ul class="mt-4">
            <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{ job.getCountry() }}</h5></li>
            <li class="mb-3"><h5><i class="fa fa-pie-chart"></i>{{ job.getCategories()|join('/') }}</h5></li>
            <li><h5><i class="fa fa-clock-o"></i> {{ job.getCreated()|date("F jS") }}</h5></li>
        </ul>
    </div>
    <div class="job-img align-self-center">
        <img src="assets/images/job1.png" alt="job">
    </div>
</div>


{#{{ job.getSalary() }}#}
{#{{ job.getContract() }}#}
{#{{ job.getCompany() }}#}
{#{{ job.description|striptags[:200] ~ '...' }}#}
