{% extends 'sidebar.html.twig' %}

{% block title %}{% endblock %}

{% block sidebar %}
    <div class="widget widget-filter">
        <h2>{{ 'Refine Search'|trans }}</h2>
        {{ form_start(filter, {'name': 'filter-candidates-form'}) }}
        {{ form_widget(filter) }}
        {{ form_end(filter) }}
    </div><!-- /.widget-filter -->
{% endblock %}

{% block content %}
    {% if profiles|length %}
        <div class="page-title">
            <h2>
                {% set count = profiles.getTotalItemCount %}
                {% transchoice count %}
                    {0} %count% candidates matching query|{1} %count% candidate matching query|]1,Inf[%count% candidates matching query
                {% endtranschoice %}
            </h2>
        </div><!-- /.page-title -->

        <div class="profiles">
            {% for profile in profiles %}
                {% include 'profiles/profile.html.twig' %}
            {% endfor %}
        </div><!-- /.profiles -->

        <div class="navigation text-center">
            {{ knp_pagination_render(profiles) }}
        </div>
    {% else %}
        no results found
    {% endif %}
{% endblock %}
