<div class="candidate">
    <div class="thumb">
        <a href="{{ path('profile_details', {'id' : profile.getId()}) }}">
            <img src="{{ vich_uploader_asset(profile, 'avatarImage') }}" class="img-fluid" alt="">
        </a>
    </div>
    <div class="body">
        <div class="content">
            <h4><a href="{{ path('profile_details', {id: profile.getId() }) }}">{{ profile.getFullName() }}</a></h4>
            <div class="info">
                <span class="work-post"><a href="#"><i data-feather="check-square"></i>Senior UI / UX Designer</a></span>
                <span class="location"><a href="#"><i data-feather="map-pin"></i>{{ profile.getCountry() }}</a></span>
            </div>
        </div>
        <div class="button-area">
            <a href="{{ path('profile_details', {'id' : profile.getId()}) }}">View Resume</a>
        </div>
    </div>
</div>