{% extends 'dashboard/base.html.twig' %}
{% form_theme form _self %}

{% block title %}{% endblock %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} class="file-input"/>
    {% endspaceless %}
{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Employer Dashboard</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            {% include '_parts/messages.html.twig' %}

                            <form action="{{ path('my_company_settings') }}" class="dashboard-form" method="POST" enctype="multipart/form-data">
                                <div class="dashboard-section upload-profile-photo">
                                    {{ form_widget(form.logo) }}
                                </div>

                                <div class="dashboard-section basic-info-input">
                                    <h4><i data-feather="user-check"></i>Basic Info</h4>
                                    {{ form(form) }}

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button class="button">Save Change</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="dashboard-section basic-info-input">
                                <h4><i data-feather="lock"></i>Change Password</h4>
                                <form action="{{ path('my_company_password') }}" class="dashboard-form" method="POST">
                                    {{ form_row(userForm.email) }}
                                    {{ form_row(userForm.plainPassword) }}
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button class="button">Save Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{ menuGenerator.adminSideMenu()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
