{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <div class="col-md-12">
        <a href="{{ path('my_account_new_job') }}" class="btn btn-primary">Create new job</a>

        {% if jobs|length > 0 %}
            <table class="table table-primary">
                {% for job in jobs %}
                    <tr>
                        <td><a href="{{ path('my_account_job', {'id' : job.id}) }}">{{ job.id }}</a></td>
                        <td><a href="{{ path('my_account_job', {'id' : job.id}) }}">{{ job.name }}</a></td>
                        <td>{{ job.country }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.categories|join(', ') }}</td>
                    </tr>
                {% endfor %}
            </table>
            {{ knp_pagination_render(jobs) }}
        {% else %}
            no jobs available
        {% endif %}
    </div>
{% endblock %}
