{% extends 'base.html.twig' %}
{% set pageTitle = 'Apply Now'|trans %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('frontend/wizard/css/smart_wizard.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/wizard/css/smart_wizard_theme_circles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}
    <section class=" job-bg ad-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}
                <h2 class="title">{{ pageTitle }}</h2>
            </div><!-- banner -->

            <div class="job-postdetails">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section postdetails">
                            {{ form(form) }}
                            <form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
                                <div id="smartwizard">
                                    <ul>
                                        <li><a href="#step-1">Step 1<br/><small>{{ 'Personal' | trans }}</small></a></li>
                                        <li><a href="#step-2">Step 2<br/><small>{{ 'Profissional' | trans }}</small></a></li>
                                        <li><a href="#step-3">Step 3<br/><small>{{ 'Get Ready' | trans }}</small></a></li>
                                    </ul>
                                    <div>
                                        <div id="step-1">
                                            <div id="form-step-0" role="form" data-toggle="validator">
                                                <div class="form-group">
                                                    <label for="email">Email address:</label>
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Write your email address" required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="step-2">
                                            <h2>Your Name</h2>
                                            <div id="form-step-1" role="form" data-toggle="validator">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" name="name" id="email" placeholder="Write your name" required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="step-3">
                                            <h2>Your Address</h2>
                                            <div id="form-step-2" role="form" data-toggle="validator">
                                                <div class="form-group">
                                                    <label for="address">Address</label>
                                                    <textarea class="form-control" name="address" id="address" rows="3" placeholder="Write your address..." required></textarea>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- postdetails -->
                    </div>

                    <!-- quick-rules -->
                    <div class="col-lg-4">
                        <div class="section quick-rules">
                            <h4>Quick rules</h4>
                            <p class="lead">Posting an ad on <a href="#">jobs.com</a> is free! However, all ads must follow our rules:</p>

                            <ul>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                                <li>Do not put your email or phone numbers in the title or description.</li>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                            </ul>
                        </div>
                    </div><!-- quick-rules -->
                </div><!-- photos-ad -->
            </div>
        </div><!-- container -->
    </section>
{% endblock %}

{% block javascripts %}
    <!-- Include jQuery Validator plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script type="text/javascript" src="{{ asset('frontend/wizard/js/jquery.smartWizard.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info')
                .on('click', function () {
                    if (!$(this).hasClass('disabled')) {
                        var elmForm = $("#myForm");
                        if (elmForm) {
                            elmForm.validator('validate');
                            var elmErr = elmForm.find('.has-error');
                            if (elmErr && elmErr.length > 0) {
                                alert('Oops we still have error in the form');
                                return false;
                            } else {
                                alert('Great! we are ready to submit form');
                                elmForm.submit();
                                return false;
                            }
                        }
                    }
                });


            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'circles',
                transitionEffect: 'fade',
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish]
                },
                anchorSettings: {
                    markDoneStep: true, // add done css
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                }
            });

            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                var elmForm = $("#form-step-" + stepNumber);
                // stepDirection === 'forward' :- this condition allows to do the form validation
                // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                if (stepDirection === 'forward' && elmForm) {
                    elmForm.validator('validate');
                    var elmErr = elmForm.children('.has-error');
                    if (elmErr && elmErr.length > 0) {
                        // Form validation failed
                        return false;
                    }
                }
                return true;
            });

            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
                // Enable finish button only on last step
                if (stepNumber == 3) {
                    $('.btn-finish').removeClass('disabled');
                } else {
                    $('.btn-finish').addClass('disabled');
                }
            });
        });
    </script>
{% endblock %}

