{% extends 'base.html.twig' %}
{% set pageTitle = 'Apply Now'|trans %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('frontend/ionicons/css/ionicons.min.css') }}">
{% endblock %}

{% block body %}
    <section class=" job-bg ad-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}

                <h2 class="title">{{ pageTitle }}</h2>
            </div>

            <div class="job-postdetails">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section postdetails">
                            {{ form_start(form, {'attr' : {'id' : 'apply-form'}}) }}

                            <h3>{{ 'Personal' | trans }}</h3>

                            <section class="form-step-section">
                                <div class="row mb-4">
                                    <div class="col-md-6">
{#                                        data-parsley-errors-container="#parsley_multi_select_error_container_licensed_states"#}
{#                                        data-parsley-error-message="Please choose a licensed state."#}
                                        {{ form_widget(form.firstName, {'attr' : {'placeholder' : 'First Name'|trans}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.lastName, {'attr' : {'placeholder' : 'Last Name'|trans}}) }}
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        {{ form_widget(form.phone, {'attr' : {'class' : 'mask-phone'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.email, {'attr' : {'placeholder' : 'Email'|trans}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_widget(form.zipcode, {'attr' : {'placeholder' : 'Zip Code'|trans}}) }}
                                    </div>
                                </div>
                            </section>

                            <h3>{{ 'Professional' | trans }}</h3>

                            <section class="form-step-section">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        {{ form_widget(form.license, {'attr' : {'placeholder' : 'License'|trans}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.licenseState, {'attr' : {'placeholder' : 'License State'|trans}}) }}
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        {{ form_widget(form.specialty, {'attr' : {'placeholder' : 'Specialty'|trans}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.specialtySecond, {'attr' : {'placeholder' : 'Second Specialty'|trans}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_widget(form.experienceYears, {'attr' : {'placeholder' : 'Experience Years'|trans}}) }}
                                    </div>
                                </div>
                            </section>

{#                            <h3>{{ 'Workflow' | trans }}</h3>#}

{#                            <section class="form-step-section">#}
{#                            </section>#}

                            {{ form_end(form) }}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="section quick-rules">
                            <h4>Quick rules</h4>
                            <p class="lead">Posting an ad on <a href="#">jobs.com</a> is free! However, all ads must follow our rules:</p>

                            <ul>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                                <li>Do not put your email or phone numbers in the title or description.</li>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('frontend/libs/parsleyjs/parsley.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/jquery-mask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/jquery-steps/jquery.steps.min.js') }}"></script>


    <script>
        $(document).ready(function(){
            $('.mask-phone').inputmask({"mask": "(999) 999-9999"}); //specifying options
        });

        // Next button goes forward iff current block validates
        var $sections = $('.form-step-section');
        $sections.each(function(index, section) {
            $(section).find(':input').attr('data-parsley-group', 'block-' + index);
        });

        $('#apply-form').steps({
            headerTag: 'h3',
            bodyTag: 'section',
            autoFocus: true,
            titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',

            onStepChanging: function (event, currentIndex, newIndex) {
                console.log('stepchanging');

                if (currentIndex > newIndex) {
                    return true;
                }
                return  $(this).parsley().validate({group: 'block-' + currentIndex});
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                console.log('changed');
            },
            onFinishing: function (event, currentIndex, newIndex) {
                $(this).submit();
            },
            onFinished: function () {
            }
        });
    </script>
{% endblock %}

