{% extends 'base.html.twig' %}
{% set pageTitle = 'Apply Now'|trans %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('frontend/ionicons/css/ionicons.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('frontend/libs/jquery-steps/jquery-steps.css') }}">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class=" job-bg ad-details-page">
        <div class="container">
            <div class="breadcrumb-section">
                {{ breadcrumbs.display('frontend/_parts/breadcrumbs.html.twig', {
                    'frontend_main_index' : 'Home' | trans
                } ) }}

                <h2 class="title">{{ pageTitle }}</h2>
            </div>

            <div class="job-postdetails">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section postdetails">
                            <div id="apply-form-wrapper">
                                {{ form_start(form, {'attr' : {'id' : 'apply-form'}}) }}

                                <div class="step-app">
                                    <ul class="step-steps">
                                        <li><a href="#step1"><i class="fa fa-user"></i> <span>{{ 'Personal' | trans }}</span></a></li>
                                        <li><a href="#step2"><i class="fa fa-briefcase"></i> <span>{{ 'Professional' | trans }}</span></a></li>
                                        <li><a href="#step3"><i class="fa fa-medkit"></i> <span>{{ 'Workflow' | trans }}</span></a></li>
                                    </ul>

                                    <div class="step-content mt-4">

                                        <div class="step-tab-panel" id="step1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.firstName) }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.lastName) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.phone, {'attr' : {'class' : 'mask-phone'}}) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.email) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.homeState) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="step-tab-panel" id="step2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.license) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.licenseState) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.specialty) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.experienceYears) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.specialtySecond) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.experienceYearsSecond) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="step-tab-panel" id="step3">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group text-center">
                                                        {{ form_widget(form.hasExperience) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.destinationStates) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group text-center">
                                                        {{ form_widget(form.onAssignment) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.assignmentEndDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_widget(form.resume) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-footer">
                                        <button class="btn btn-default" data-direction="prev">{{ 'Previous' | trans }}</button>
                                        <button class="btn btn-info" data-direction="next">{{ 'Next' | trans }}</button>
                                        <button class="btn btn-primary" data-direction="finish">{{ 'Apply' | trans }}</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="section quick-rules">
                            <h4>Quick rules</h4>
                            <p class="lead">Posting an ad on <a href="#">jobs.com</a> is free! However, all ads must follow our rules:</p>

                            <ul>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                                <li>Do not put your email or phone numbers in the title or description.</li>
                                <li>Make sure you post in the correct category.</li>
                                <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
                                <li>Do not upload pictures with watermarks.</li>
                                <li>Do not post ads containing multiple items unless it's a package deal.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('frontend/libs/parsleyjs/parsley.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/jquery-mask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/jquery-steps/jquery-steps.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.mask-phone').inputmask({"mask": "(999) 999-9999"}); //specifying options
            $('.mask-date').inputmask({"mask": "99/99/9999"}); //specifying options
        });

        var $sections = $('.step-tab-panel');
        $sections.each(function (index, section) {
            $(section).find(':input').attr('data-parsley-group', 'block-' + index);
        });

        $('#apply-form-wrapper').steps({
            onChange: function (currentIndex, newIndex, stepDirection) {
                if (stepDirection == 'forward') {
                    return $('#apply-form').parsley().validate({group: 'block-' + currentIndex});
                }
                return true;
            },

            onFinish: function () {
                $('#apply-form').submit();
            }
        });


    </script>
{% endblock %}

